.dashboard-section{
    background-color: rgba(128, 128, 128, 0.564);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.dashboard-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.new-doc-section{
    width: 100%;
}
.new-doc-container{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-top:2rem;
}
.card{
    width: 118px;
    height: 152px;
    background-color: white;
    padding: 1rem;
}
.my-dashboard{
    margin-top: 3rem;
    background-color: aqua;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}