.virtual-keyboard{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
}
.virtual-keyboard .key{
    min-width: 30px;
    height: 30px;
    border: 1px solid black;
}