.taal-table-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}
.print-table-section{
    height: 400px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}
.table{
    width: 70%;
    overflow-y: auto;
}
thead{
    border: 2px solid black;
}
thead tr{
    border: 2px solid black;
}
thead tr td{
    border: 2px solid black;
    font-weight: bold;
}
td{
    height: 40px;
    min-width: 60px;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    height: 200px;
    overflow-y: scroll;
}
.add-row{
    margin: 1rem;
    width: 160px;
}
.keyboard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin-bottom: 3rem;
}
.keyboard button{
    font-size: 15px;
    width: 60px;
    padding: 1rem;
    height: 60px;
    background-color: brown;
    color: white;
}
@media(max-width: 300px){
    .print-table-section{
        height: 50vh ;
    }
}