.taal-table-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.table{
    width: 90%;
    max-width: 600px;
}

td{
    height: 40px;
    min-width: 40px;
    border: 1px solid black;
}
table{
    border-collapse: collapse;

}
.active-cell{
    /* background-color: grey; */
}
.selected-cell{
    background-color: rgba(0, 187, 255, 0.705);
}

.add-row{

}

.keyboard{
    width: 40%;
    display: flex;
    flex-wrap: wrap;

}
.keyboard button{
    min-width: 60px;
    height: 60px;
    background-color: brown;
    color: white;
}